[2016-10-07 08:57] wanderer opened #2 "make DAGService interface compatible with levelup"
Can we make DAGService interface compatible with levelup?
The idea here is that we can swap backends if needed.
To have compatibility rename
`remove -> del`
`getRecursiveStream -> createReadStream`

[2016-10-16 14:48] diasdavid commented on #2
Hi @wanderer :) Yes, it can, in fact, it already almost is"*" is, DAGService uses BlockService and Block Services uses the IPFS Repo (node -> block -> bytes).

"*" I say almost, because it was before we migrated to pull-streams, now we just need to create an interface on top of levelup that knows about pull-streams.

[2016-10-29 17:59] diasdavid opened #4 "Make dag-pb an immutable 'class'"
It is very cumbersome to use DAGNode class in the way it was designed originally, specially now with the async crypto constraints that require a callback to mutate state mutation on each instance (literally, bleh).

I would like to make the strong case to make the `methods` of this DAGNode class actually `function` present in the dagPB.util, so that any mutation returns an instance of a new instan

[2016-10-29 18:34] dignifiedquire commented on #4
sounds good to me

[2016-10-30 06:19] haadcode commented on #4
I'm also in favor of making it more functional. However, I would propose the following namespacing:
[code]

This makes it easier to reason about the functionality as well as to find the tools to do the conversion, requiring to only include one module for the conversions and reduces the cognitive overload (ie. doesn't require me to understand what *PB* means).

Haven't checked what the current DAGN

[2016-10-30 11:46] diasdavid commented on #4
@haadcode it is better if you could check the DAGNode code first, my proposal on making it 'functional' was specifically to move from methods to functions that don't alter internal state. What you have proposed is essentially what we have, but just with a promise wrapper.

If we move forward with the initial proposal, it would mean that an instance of the DAGNode class would have the properties .j

[2016-10-30 13:29] haadcode commented on #4
@diasdavid let me clear some confusion here. *static* methods are different to *instance* methods, meaning they're not part of an *instance* of the class (== object) and they don't contain state. A static method is basically the same as a function, just different terminology (OO vs. functional I suppose).

Eg. now you can do `node.toJSON()` but if the .toJSON is a static method, `node.toJSON()` wo

[2016-10-30 14:10] dignifiedquire commented on #4
What is the benefit of static methods over something like this:

[code]

This api would be much more ergonomic and nicer to work with, then having a bunch of static methods to call. They could be easily implemented using those though:

[code]

[2016-10-30 14:20] haadcode commented on #4
@dignifiedquire generally I agree that having data conversion methods as part of the instance are a nicer solution (in OO terms), but given the async nature of JS and the fact that they have become async, I think what @diasdavid is proposing here makes more sense. It keeps API simpler to reason about imo.

If .toJSON was sync, then I would definitely like to have it as part of the instance. Actual

[2016-10-30 14:33] haadcode commented on #4
Hold on.

`.multihash()` seems to be the function that requires `.toJSON()` to be async. In `.multihash()` (https://github.com/ipld/js-ipld-dag-pb/blob/master/src/dag-node.js#L140), `util.serialize()` seems to be the only async function requiring `.multihash()` to be async (https://github.com/ipld/js-ipld-dag-pb/blob/master/src/dag-node.js#L142). But looking at the code for `util.serialize()`, I d

[2016-11-01 17:26] diasdavid opened #5 "Update .tree to follow latest spec"
tl;dr; Do not resolve values by default - https://github.com/ipld/interface-ipld-format/pull/1

[2016-11-24 12:21] diasdavid opened #8 "Improve perf of linkSort"
https://github.com/ipld/js-ipld-dag-pb/blob/master/src/dag-node/util.js#L24-L26

//cc @dignifiedquire

[2016-11-24 12:22] diasdavid commented on #4
It's done wooooo! 🎉🎉🎉🎉🎉

[2016-11-24 12:22] diasdavid commented on #4
Follow the merging here: https://github.com/ipfs/js-ipfs/issues/617

[2016-11-24 12:22] #4 closed

[2017-01-27 11:18] greenkeeper[bot] opened #15 "An in-range update of multihashes is breaking the build 🚨"
## Version **0.3.2** of [multihashes](https://github.com/multiformats/js-multihash) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipld/js-ipld-dag-pb/compare/greenkeeper%2Fmultihashes-0.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      multihashes
    </td>
  </tr>
  <tr>
    <th

[2017-02-09 20:35] greenkeeper[bot] opened #17 "An in-range update of cids is breaking the build 🚨"
## Version **0.4.1** of [cids](https://github.com/ipld/js-cid) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipld/js-ipld-dag-pb/compare/greenkeeper%2Fcids-0.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      cids
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-02-09 21:50] greenkeeper[bot] opened #18 "An in-range update of ipfs-block-service is breaking the build 🚨"
## Version **0.8.3** of [ipfs-block-service](https://github.com/ipfs/js-ipfs-block-service) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipld/js-ipld-dag-pb/compare/greenkeeper%2Fipfs-block-service-0.8.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ipfs-block-service
    </td>

[2017-02-18 22:14] greenkeeper[bot] opened #21 "An in-range update of rimraf is breaking the build 🚨"
## Version **2.6.0** of [rimraf](https://github.com/isaacs/rimraf) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipld/js-ipld-dag-pb/compare/greenkeeper%2Frimraf-2.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rimraf
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-02-19 01:39] greenkeeper[bot] opened #22 "An in-range update of async is breaking the build 🚨"
## Version **2.1.5** of [async](https://github.com/caolan/async) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipld/js-ipld-dag-pb/compare/greenkeeper%2Fasync-2.1.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      async
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Vers

[2017-02-24 11:57] greenkeeper[bot] opened #24 "An in-range update of multihashing-async is breaking the build 🚨"
## Version **0.4.3** of [multihashing-async](https://github.com/multiformats/js-multihashing-async) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipld/js-ipld-dag-pb/compare/greenkeeper%2Fmultihashing-async-0.4.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      multihashing-async

[2017-02-26 09:39] mitar opened #27 "util.serialize accepts a different format than ipfs object put"
I can do:

[code]

But if I try to pass the same object to `util.serialize`, it does not really work, because `toProtoBuf` expects lower case properties.

[2017-02-26 09:42] mitar commented on #27
Or it seems `ipfs object put` normalizes the input object. I can use also lowercase properties.

Maybe this package should normalize in the same way: accept lower or upper case properties, accept both `hash` and `multihash` for hashes, `size` and `tsize`.

[2017-02-27 03:50] mitar opened #28 "Discrepancy between util.serialize and DAGNode.create"
I am seeing strange discrepancy between `util.serialize` and `DAGNode.create`. Maybe I am using it wrong.

I have the following object:

[code]

If I do:

[code]

Then the JSON output of DAGNode is:

[code]

But if I do `util.serialize `and then `util.deserialize`, and do JSON output, then I get:

[code]

Observe how `multihash` of links is different, and `size` value of the whole JSON.

[2017-03-09 19:18] diasdavid commented on #28
https://github.com/ipld/js-ipld-dag-pb/pull/11 fixed this one, essentially, data is always expected to be a Buffer, we just didn't have a strict conversion. Please test master and let me know.

[2017-03-09 19:19] diasdavid commented on #27
Sounds good to me, would you like to submit a PR with it?

[2017-03-09 19:19] #15 closed

[2017-03-09 19:19] #17 closed

[2017-03-09 19:19] #18 closed

[2017-03-09 19:19] #21 closed

[2017-03-09 19:19] #22 closed

[2017-03-09 19:19] #24 closed

[2017-03-09 19:20] diasdavid commented on #2
Hope this is clear now, let me know if it isn't. Closing now.

[2017-03-09 19:20] #2 closed

[2017-03-09 19:31] dignifiedquire commented on #2
@diasdavid there is pull-level: http://npmjs.com/pull-level

[2017-03-09 19:33] diasdavid commented on #2
@dignifiedquire I believe the confusion was if it was this the place to attach to a level store. The answer was: that happens on the ipfs-repo module.

[2017-03-16 10:49] mitar commented on #28
No, this is now fixed. See the following reproduction:

[code]

See the difference in `multihash` and `size` fields.

[2017-03-16 15:47] greenkeeper[bot] opened #31 "An in-range update of cids is breaking the build 🚨"
## Version **0.4.2** of [cids](https://github.com/ipld/js-cid) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ipld/js-ipld-dag-pb/compare/greenkeeper%2Fcids-0.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      cids
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-03-17 00:17] diasdavid commented on #28
See the different in the multihash of the link

[code]

[code]

The issue is that you are passing a `JSON object` to `serialize`, where it expects a DAGNode instance. If you pass that `dagNode` you get from create, you get the right hashes.

It seems that we could indeed support both, currently, the util.serialize expects for the `multihash` of the links to be a Buffer and not a Base58 encoded str

[2017-03-17 00:23] mitar commented on #28
I think I got confused because in [js-ipld-dag-cbor](https://github.com/ipld/js-ipld-dag-cbor#usage) documentation you are passing in simply an object, not dag. So when I switched to js-ipld-dag-pb I expected it to behave the same.

Sadly, I do not think I will have time for PR at the moment.

[2017-03-17 00:34] diasdavid commented on #28
It is the same API, just dag-cbor takes json (because of the one to one mapping) and dag-pb takes DAGNode classes (pb aware objects).

Nevertheless, it is indeed possible to achieve what you tried. I'll leave this issue open as a feature request, once my availability increases, I'll look into it again :)

[2017-03-17 00:36] mitar commented on #27
I think [based on your comment here](https://github.com/ipld/js-ipld-dag-pb/issues/28#issuecomment-287231216) that this might be the same issue. `util.serialize` does not normalize these field names because it expects a dag node instance anyway, not a plain object. So probably this [normalization code should be abstracted out](https://github.com/ipld/js-ipld-dag-pb/blob/master/src/dag-node/create.

[2017-03-17 12:18] diasdavid commented on #27
that and also the normalization factor too.

[2017-03-21 07:58] #5 closed

[2017-03-21 07:58] #31 closed

[2017-05-26 23:51] wanderer opened #38 "toJSON should follow the spec"
it would be nice if toJSON followed the [ipld compat protobuf spec](https://github.com/ipld/specs/blob/master/ipld/ipld-compat-protobuf.md)

currently it produces object like
[code]
multihash should change to link : {'/': <hash>}
and the top level mutilhash is unessacry

[2017-09-05 10:20] diasdavid opened #40 "Coverage (either Coveralls or Codecov) is not running in this repo."
https://github.com/ipld/js-ipld-dag-pb/pull/39 caused a big drop in coverage due to the addition of an auto generated file and it passed undetected because no Coverage CI is running.

[code]

[2017-09-05 10:23] diasdavid commented on #40
@dignifiedquire mind handling this as you go in your adventure of removing unsafe-eval from this world?

[2017-09-05 10:35] dignifiedquire commented on #40
That should be part of upgrading aegir, which makes this much more useful

[2017-09-05 10:36] dignifiedquire commented on #40
(also probably should find a way to ignore coverage for that module, not sure how though)

[2017-09-05 15:22] diasdavid opened #41 "Interop with Go got broken (now fixed by unpublishing latest patch version)"
I completely missed this comment https://github.com/ipld/js-ipld-dag-pb/pull/39#discussion_r137020214 and given this issue reported here https://github.com/ipld/js-ipld-dag-pb/pull/39/files#r137020214, now two objects created with the same data and or links will have different hashes between go and js. As expected, this is not ok.

As an interim solution, I'll unpublish the latest version and will

[2017-09-05 15:25] dignifiedquire commented on #41
there is an easier quick fix, you can change the generated file manually to match

[2017-09-05 15:25] dignifiedquire commented on #41
Probably need to recheck the other modules as well..

[2017-09-05 15:29] diasdavid commented on #41
Only two got released from the list https://github.com/ipfs/js-ipfs/issues/991. I unpublished those 2 patch versions. Let's finish the endeavour, make sure everything is ready and super tested (all the way to js-ipfs running js-ipfs interop tests) and then we will merge.

[2017-09-07 09:56] #41 closed

[2017-10-08 15:02] atvanguard commented on #28
@diasdavid Rolled out a PR. PTAL.

[2017-10-18 17:40] #40 closed

[2017-10-18 17:47] diasdavid commented on #28
Thanks @atvanguard ! Let's continue tracking this on that PR https://github.com/ipld/js-ipld-dag-pb/pull/43 👍

[2017-10-18 17:47] #28 closed

[2018-02-05 14:48] vmx opened #52 "Switch from ISC to MIT License"
All Protocol Labs code is licensed under MIT, so should this repository.

[2018-02-05 14:49] vmx opened #53 "Switch from ISC to MIT License"
All Protocol Labs code is licensed under MIT, so should this repository.

[2018-02-12 13:50] diasdavid commented on #53
👍 go for it.

[2018-02-22 00:30] vmx commented on #52
Not sure why I opened two issues. This is a duplicate of #53.

[2018-02-22 00:30] #52 closed

[2018-02-23 12:34] #53 closed

[2018-04-16 15:16] kenshyx opened #65 "Package `stable` breaks everything after update"
After the last release of the package `stable` they changed the way that module is exported. Now when I'm starting my node I get only errors on this line https://github.com/ipld/js-ipld-dag-pb/blob/master/src/dag-node/create.js#L39:
[code]
This happens because they switched to `default export` https://github.com/Two-Screen/stable/blob/fbab260b17e0d2d953e18a465d1ca74a3214ae5f/index.d.ts#L2

[2018-04-16 15:17] kenshyx commented on #65
A quick fix would be to use the `sort.default`

[2018-04-16 15:49] #65 closed

[2018-04-25 01:49] netpoe opened #67 "ERROR TypeError: sort is not a function"
I'm running into a TypeError.

Using Angular ^5.2.0
ipfs ^0.28.2

In `node_modules/ipld-dag-pb/src/dag-node/create.js:39`

This is happening when I perform this:

[code]

[2018-05-10 08:33] vmx commented on #67
I'm closing this issue as it should be fixed in more recent releases of js-ipfs. @netpoe If it isn't, please re-open this issue.

[2018-05-10 08:33] #67 closed

[2018-05-25 15:02] osarrouy opened #71 "Resolving through link names"
Hey everyone.

I'm kind of stuck on something. I'm trying to write an IPLD resolver for a custom ethereum-based git-like protocol i'm writing. For that reason i would like to use the keccak-256 hash algorithm for my hashes - to perform on chain verification.

I've had a look at ipld-dag-pb - which may use this algorithm - but the resolving process is not quite human friendly. I'd like to be able t

[2018-05-25 15:18] vmx commented on #71
It sounds like you want to write a custom IPLD Format implementation. You could have a look at the Bitcoin Format implementation https://github.com/ipld/js-ipld-bitcoin which should be simpler to follow than dag-pb.

[2018-05-25 15:23] osarrouy commented on #71
Hey !

Thanks a lot for your answer !

I've already tried that. The problem I have is to pick a codec for ```new CID(1, codec, multihash)``` part of the util.cid function. I can't use a custom codec since it's not in the multicodec table and if I use an already existing one, i can't use keccak-256 :(

Any idea ?

[2018-05-25 17:14] osarrouy commented on #71
In fact when i use a custom codec such as ```new CID(1, codec, multihash)``` then, when I try to get the buffer or the baseEncodedString of the CID I got the following error :
[code]

Does it come from the multicodec table or is it something else ?

Thanks a lot !

[2018-05-26 09:57] vmx commented on #71
I needed to play around with it myself, and I hope what I found out help you.

With some online tool I created a kecccak-256 hash, which is: `3ea2f1d0abf3fc66cf29eebb70cbd4e7fe762ef8a09bcc06c8edf641230afec0`.  I then used https://github.com/multiformats/js-multihash to convert it to a base58 encoded string:
[code]

If you use that one as a CID you get that it's a dag-pb node: http://cid-utils.ipfs

[2018-05-28 10:50] osarrouy commented on #71
Hey @vmx !

Thanks a lot for your feedback !

I've worked on it a little on my side also and found where the problem come from : https://github.com/ipld/js-cid/blob/4d7bcf860214fef04700ebe338908d36182c931e/src/index.js#L123

If i try to create my own multicodec the js-cid library tries to lookup something which does not exist in the multicodec table and raises an error.

For now the only solution

[2018-05-28 11:10] vmx commented on #71
@osarrouy I'm currently working on it. Expect some PRs (which you could then apply locally) later today. You'd then be able to add your own custom codec.

[2018-05-28 11:12] osarrouy commented on #71
@vmx ! Wow ! Ok. Thanks a lot. Really :)

[2018-05-28 11:36] vmx commented on #71
This PR should implement the functionality you need: https://github.com/multiformats/js-multicodec/pull/25

[2018-05-28 11:39] osarrouy commented on #71
@vmx Thanks a lot !

[2018-06-18 08:12] vmx commented on #71
@osarrouy I'm closing this issue as I think it is solved. If not, please re-open it.

[2018-06-18 08:12] #71 closed

[2018-06-21 17:57] osarrouy commented on #71
That's all good :)

[2018-07-31 16:40] olizilla opened #79 "Support CIDs in dag-pb links"
js-ipld-dag-pb assumes that links will be multihashes
https://github.com/ipld/js-ipld-dag-pb/blob/70b0cd53148fa26dc3e75fe250c0f1ad8161a59e/src/dag-link/index.js#L8-L23

Here is a dag-pb node where one of the links is a CIDv1
https://ipfs.io/api/v0/dag/get?arg=QmViWi5az9iiPzESM6ruHf84TcmHSAVQ2KQdNveoDH7eaY/refs/heads

[code]

I assume we need to upgrade `DagLink` to support CIDs, but I've never see

[2018-07-31 17:00] vmx commented on #79
@diasdavid, @Stebalien Can you help?

[2018-07-31 17:09] Stebalien commented on #79
Yes, they can be CIDv1 links. Specifically, unixfs can store CIDv1 pointers to *raw* blocks. That's how we implement the raw leaves feature (where we store file chunks as raw data instead of wrapping them in protobufs).

[2018-07-31 18:39] #79 closed

[2018-08-22 16:20] olizilla opened #84 "DAGNodes resolved from a v1 CID have a v0 multihash property."
When resolving a dag-pb node via ipld, we call `deserialize()` with the raw block data. That block may have been retrieved via a v1 CID.

To construct a DagNode instance we call `DAGNode.create` which builds the properties and then uses `multihashing` to calculate the v0 CID which is then all passed to the DagNode constructor.

https://github.com/ipld/js-ipld-dag-pb/blob/aa6274c14443003662423dcefb

[2018-08-23 08:37] olizilla commented on #84
Gotta be careful to **only** use the requested cid rather than the internal representation or your dags will get all disconnected

![screenshot 2018-08-23 09 30 27](https://user-images.githubusercontent.com/58871/44514448-0f8ea500-a6b8-11e8-9f57-c2999470fc81.png)

[2018-08-26 16:50] alanshaw opened #85 "Resolving Link Name and/or Tsize"
Is this code correct?

https://github.com/ipld/js-ipld-dag-pb/blob/aa6274c14443003662423dcefb26573c2480f3aa/src/resolver.js#L61-L64

The resolved value is `{ "/": "name.txt" }` or `{ "/": 12345 }` - shouldn't it only have the object with slash property wrapper if it's a link?

[2018-08-27 09:09] diasdavid commented on #85
Yeah, that's a bug. @alanshaw can you write tests for these and a PR with a fix?

[2018-08-28 09:36] alanshaw commented on #85
Yep!

[2018-08-29 10:40] olizilla commented on #84
Exposing a `cid` property that returned a cid object as suggested here https://github.com/ipld/js-ipld-dag-pb/pull/81#issuecomment-409887421 would be a step in the right direct. The cid instance would still internally set it's version to 0 if it's initialised with a multihash, but at least we'd be returning an object wrapper that the user can get the version 1 cid from if needed.

[2018-09-11 10:00] #85 closed

[2018-10-03 14:01] achingbrain commented on #84
Related: https://github.com/ipld/js-ipld/issues/157

[2018-10-03 14:27] greenkeeper[bot] opened #90 "An in-range update of aegir is breaking the build 🚨"
## The devDependency [aegir](https://github.com/ipfs/aegir) was updated from `15.2.0` to `15.3.0`.

🚨 [View failing branch](https://github.com/ipld/js-ipld-dag-pb/compare/master...ipld:greenkeeper%2Faegir-15.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aegir is a devDependency of this project. It **might not break

[2018-10-04 10:06] vmx commented on #90
Closed with https://github.com/ipld/js-ipld-dag-pb/commit/fcdd73c783b72454cf7137021c85b72a7307a46b.

[2018-10-04 10:06] #90 closed

[2018-10-30 16:20] achingbrain opened #97 "Skip sorting links when deserializing?"
At the moment when deserializing a protobuf we [pass](https://github.com/ipld/js-ipld-dag-pb/blob/master/src/util.js#L75) the links into `DAGNode.create` which in turn [passes](https://github.com/ipld/js-ipld-dag-pb/blob/master/src/dag-node/create.js#L39) them to [linkSort](https://github.com/ipld/js-ipld-dag-pb/blob/master/src/dag-node/util.js#L24-L29).

When you have DAGNodes with lots of links

[2018-10-30 16:22] achingbrain commented on #97
By way of example [linkSort](https://github.com/ipld/js-ipld-dag-pb/blob/master/src/dag-node/util.js#L24-L29) is passed to [stable](https://www.npmjs.com/package/stable) during `DAGNode.create`:

![image](https://user-images.githubusercontent.com/665810/47733276-c763a400-dc5f-11e8-8859-bf59aa796c00.png)

[2018-10-30 16:51] vmx commented on #97
I agree that the sorting step should be skipped. I hope I'm not missing something here :)

[2018-10-30 16:56] achingbrain commented on #97
I think it's only needed if the user is calling `DAGNode.create`, e.g. we can skip it when deserializing existing DAGNodes but not when creating new ones.

I'll put a PR together.

[2018-10-30 17:00] diasdavid commented on #97
Sorting is necessary for interop with dag-pb on go-ipfs, but AFAIU just for the serialization step.

[2018-10-31 12:12] #97 closed

[2018-11-14 13:09] vmx commented on #8
Not sure what this really is about it refers to https://github.com/ipld/js-ipld-dag-pb/blob/2b1a356ba748f6a340b4fa98c95a8ed525f1c0b9/src/dag-node/util.js#L24-L26.

@diasdavid if you think it is still an issue, please re-open with more information.

[2018-11-14 13:09] #8 closed

[2018-11-14 13:17] vmx commented on #38
I'm closing this issue in favour of the more general https://github.com/ipld/interface-ipld-format/issues/49.

[2018-11-14 13:17] #38 closed

[2018-11-23 15:08] greenkeeper[bot] opened #103 "An in-range update of aegir is breaking the build 🚨"
## The devDependency [aegir](https://github.com/ipfs/aegir) was updated from `17.1.0` to `17.1.1`.

🚨 [View failing branch](https://github.com/ipld/js-ipld-dag-pb/compare/master...ipld:greenkeeper%2Faegir-17.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aegir is a devDependency of this project. It **might not break

[2018-12-05 11:19] mcollina opened #104 "Stable sorting"
the `stable` module keeps coming up in my flamegraphs, and I was wondering if it's truly needed here.
It was part of the initial implementation https://github.com/ipld/js-ipld-dag-pb/commit/cc914b162f85bb97b839bfd3a32cf174a07f6e8a. @daviddias maybe you can chime in on this one?

If it's truly needed, since Node v11 `Array.sort` is stable, so we should prefer that instead.

[2018-12-05 11:21] vmx commented on #104
FYI: I currently heavily rework this module. So I'd expect the performance characteristics being quite different (hopefully soon).

But that the sorting is a bottle-neck is certainly good to know.

[2018-12-05 11:51] alanshaw commented on #104
It doesn't look to me as though it's needed, since the only [sorting comparison function comes from this module](https://github.com/ipld/js-ipld-dag-pb/blob/39cfef1757f733649afcd00bfd02b64270145b4b/src/dag-node/create.js#L8) and we [`map` any input to a brand new array immediately before calling `stable` sort](https://github.com/ipld/js-ipld-dag-pb/blob/39cfef1757f733649afcd00bfd02b64270145b4b/src

[2018-12-05 12:01] mcollina commented on #104
+1 for removal, but I'm not familiar with the internals enough to understand what side effect it may have.

@daviddias ?

[2018-12-08 11:50] mcollina commented on #104
This seems a good approach to avoid slowdown for big files, but not for directories with a ton of small files.

I’d also do a quick check if adding things in order might be better than sorting after the fact.

How big is normally that array?

[2018-12-10 12:12] achingbrain commented on #104
For UnixFS directories it can be up to 1000 before it's converted to a sharded directory, then it'll be max 255.

For UnixFS files created by the importer it's max 174.

I don't think there's anything to stop a user creating arbitrarily large lists of links, though I could be wrong.  Might be something to add.

[2018-12-10 12:17] mcollina commented on #104
One last question: not being compatible with the Go implementation on this bit would cause any problems to users? If two links are not in the same order, will there be any issues?

[2018-12-10 12:19] mcollina opened #107 "avoid high buffer allocations in linkSort"
In `linkSort` https://github.com/ipld/js-ipld-dag-pb/blob/39cfef1757f733649afcd00bfd02b64270145b4b/src/dag-node/util.js#L27-L32, 2 new buffers are allocated for each comparison. When sorting a big array (100+ entries, which seems common), this is going to create very high gc pressure.
Ideally a sort implementation should not allocate any new objects at all.

See #104 for a bigger discussion on the

[2018-12-10 12:22] achingbrain commented on #104
I believe we want to maintain compatibility with go here.  All implementations should return the same hash for a given data structure.

[2018-12-10 18:10] mcollina opened #109 "deserialization calls serialize"
In the [`deserialize`](https://github.com/ipld/js-ipld-dag-pb/blob/d56ed9a3afb71b0aeb735da5add7e1feeb7c6349/src/util.js#L78-L88) method, it calls [`serialize`](https://github.com/ipld/js-ipld-dag-pb/blob/d56ed9a3afb71b0aeb735da5add7e1feeb7c6349/src/dag-node/create.js#L33-L35) internally. Why is it doing it? It seems quite an expensive operation, and if we already have the data serialized, why seri

[2018-12-10 18:20] mikeal commented on #109
pinging @vmx who is re-writing the IPLD interface to address some of the unnecessary serialize/deserialize calls we tend to make.

[2018-12-10 18:55] achingbrain commented on #109
That was refactored out a while ago, might not have made it into a js-ipfs release yet though.

[2018-12-10 19:07] mcollina commented on #109
Good to know! Closing.

I'd recommend to release that asap.

[2018-12-10 19:08] #109 closed

[2018-12-10 19:24] achingbrain commented on #109
@mcollina you could try ipfs@0.34.0-pre.0 and see if the problem still exists? It has the latest ipld-dag-pb in it. May have random breakage of course.

[2018-12-10 19:25] achingbrain commented on #109
Aha, missed your comment - it’ll be in the impending v0.34.0 release.

[2018-12-11 14:04] achingbrain commented on #107
`link.name` should be a string so I wonder why it doesn't just use `String.prototype.localeCompare()`

@vmx any ideas?

[2018-12-11 14:23] vmx commented on #107
It could be related to the Go implementation. We should use the same algorithm in all implementations.

[2018-12-17 12:56] #104 closed

[2018-12-17 12:56] #107 closed

[2019-02-18 20:51] greenkeeper[bot] opened #117 "An in-range update of ipfs-repo is breaking the build 🚨"
## The devDependency [ipfs-repo](https://github.com/ipfs/js-ipfs-repo) was updated from `0.26.1` to `0.26.2`.

🚨 [View failing branch](https://github.com/ipld/js-ipld-dag-pb/compare/master...ipld:greenkeeper%2Fipfs-repo-0.26.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ipfs-repo is a devDependency of this project. I

[2019-02-21 15:13] #117 closed

[2019-02-21 15:13] #103 closed

[2019-04-24 13:44] vmx opened #128 "Make `addLink()` sync"
Based on https://github.com/ipld/js-ipld-dag-pb/pull/127#issuecomment-486167869:

[2019-05-08 15:57] vmx commented on #27
This should be fixed with 0.14. If not, please re-open this issue.

[2019-05-08 15:57] #27 closed

[2019-05-14 16:26] achingbrain opened #131 "TypeError: DAGLink.create is not a function"
According to the readme there should be a [`DAGLink.create`](https://github.com/ipld/js-ipld-dag-pb#daglinkcreatename-size-cid) function exported by this module, but it appears to be missing.

[2019-05-14 16:31] achingbrain opened #132 "Remove DAGNode.create?"
Sort of related to #131 but if `DAGNode.create` can now calculate the serialized size of a node synchronously, why not do that in the `DAGNode` constructor if the serialized size is not passed and remove the `.create` function?

[2019-05-14 17:25] achingbrain opened #133 "DAGNode links and data properties missing"
The readme says [`node.data`](https://github.com/ipld/js-ipld-dag-pb#nodedata) and [`node.links`](https://github.com/ipld/js-ipld-dag-pb#nodelinks) properties should exist.

They do not, since they've been renamed to `node.Data` and `node.Links`.

[2019-05-14 17:26] achingbrain commented on #133
Also, as a side effect calling code is now littered with this sOrt oF thiNg:

`entry.node.Links.filter(link => ...`

[2019-05-14 17:32] achingbrain commented on #133
See also [`link.name`](https://github.com/ipld/js-ipld-dag-pb#linkname) and friends.

[2019-05-15 15:49] #131 closed

[2019-05-16 09:44] vmx commented on #132
I had a look. the problem is that we would need to call `serialize()` which does a call to `DAGNode.isDAGNode()`. So you'd have a circular reference that would make things fail.

[2019-05-16 10:00] #133 closed

[2019-05-16 10:43] achingbrain commented on #132
It only does a call to `DAGNode.isDAGNode()` to find out if the `data` argument passed to `util.serialize` is a `DAGNode`, which it should not be if we are in the constructor of `DAGNode` outside of programmer error so that could be factored out and you'd have an internal `_serialize` function that did the same thing as `util.serialize` just without that check which `util.serialize` would call.

.

[2019-05-19 18:13] achingbrain opened #136 "Made DAGNodes mutable?"
Given that a `DAGNode` no longer knows about it's `CID`, keeping it immutable seems like overkill (and also a lie since you can mutate the `.links` and `.data` content, add new properties, etc).

You could lose the `.addLink`, `.removeLink`, `.clone`, etc methods too then.

[2019-06-26 16:11] achingbrain opened #152 "Perf: Don't hide 'private' fields?"
It's expensive and the convention in js is to leave methods/properties prefixed by `_` alone.

![image](https://user-images.githubusercontent.com/665810/60196548-b0e90900-983d-11e9-87a9-46790f7b2b69.png)

Consider removing this?

[2019-06-26 16:59] achingbrain commented on #152
Enumerable getters too.  Less expensive, but do we need to do it like this?

![image](https://user-images.githubusercontent.com/665810/60199555-7e8eda00-9844-11e9-8019-a95722524846.png)

[2019-06-27 10:59] vmx commented on #152
The reason for having those is that you can easily have the `tree()` function that doens't need to do any work, but just iterate over things. The other advantage is that also in your code you can enumerate over all properties and just get the values you resolve to.

Can you tell me more about those graphics? Where are they from? How much of a bottleneck is that compared to e.g. deserializing the P

[2019-07-19 10:22] #128 closed

[2019-07-19 10:22] #132 closed

[2019-07-19 10:22] #152 closed

[2019-07-19 10:23] vmx commented on #136
DAGnodes are mutable now (with the merge of https://github.com/ipld/js-ipld-dag-pb/pull/141).

[2019-07-19 10:23] #136 closed

[2019-07-19 10:26] vmx opened #154 "Prevent double serialization"
This is a followup of https://github.com/ipld/js-ipld-dag-pb/pull/141#pullrequestreview-263570966.

`toDagLink()` should double serialize things. Best would be if `size` would be removed from DAGLink. Though this is a change that impacts UnixFS.

[2019-09-06 16:25] jgeary opened #157 "calculate multihash"
Hello,
[Stack overflow](https://stackoverflow.com/questions/40998621/how-to-create-an-ipfs-compatible-multihash) and [Medium](https://medium.com/swapynetwork/generating-ipfs-multihash-offline-2edb2618b93b) have suggested the following for calculating an ipfs hash from a data buffer (which is my main goal here):

[code]

I have confirmed this works using js-ipld-dag-pb 0.14.8 and this is fine for m

[2019-09-06 17:25] #157 closed

[2019-09-09 04:42] rvagg commented on #157
FYI the tests should help show examples of this, such as: https://github.com/ipld/js-ipld-dag-pb/blob/1cb217dca8c2b9fb7880229e62e5910369e2d52c/test/dag-node-test.js#L236-L238

[2020-01-01 23:14] alanshaw opened #163 "Please release a new version with updated dependencies"
Out of range deps were updated in but no release :(

[2020-01-13 13:21] vmx commented on #163
Released.

[2020-01-13 13:21] #163 closed

[2020-01-15 09:06] achingbrain commented on #84
DAGNodes haven't exposed a `cid` or `multihash` property since `v0.15.0`, this can probably be closed?

[2020-01-15 09:21] olizilla commented on #84
Is it no longer possible to ask a DAGNode what it's CID is?

[2020-01-15 10:19] achingbrain commented on #84
Not since November 2018..

[2020-01-15 10:23] olizilla commented on #84
let's close it then! For posteritry and my curioisty, if I do end up with a DAGNode of unknown origin, what is the recommended way to determin it's CID?

[2020-01-15 10:23] #84 closed

[2020-01-15 10:31] achingbrain commented on #84
How do you end up with a DAGNode of unknown origin?  Haven't you just used a CID to fetch it?

[2020-01-15 10:32] olizilla commented on #84
in the guts of the IPLD explorer as per this issue

[2020-01-15 10:45] achingbrain commented on #84
I'm not familiar with the guts of the IPLD explorer - do you discard the CID you used to fetch a DAGNode?

[2020-01-15 10:57] olizilla commented on #84
The specific case was not my point. It is concivable that a code base passes around a DAGNode, and loses the original request context. Can you drop a code fragment here that shows a way to get a CID from a DAGNode, for any folks that end up here from a search? If there is no good way to do so, or its just not recommended then that's fine too.

[2020-01-15 11:20] achingbrain commented on #84
You cannot get a CID from a DAGNode, it was removed in `v0.15.0` to bring `dag-pb` more into line with the rest of `ipld` in that data doesn't tend to know how it should be addressed, and because multiple CIDs can resolve to the same DAGNode so it's hard to have a canonical CID.

If you want to know *a* CID for the node, assuming you know what type of node it is you can pass it to `ipld.put` or th

[2020-02-04 15:58] greenkeeper[bot] opened #165 "An in-range update of aegir is breaking the build 🚨"
## The devDependency [aegir](https://github.com/ipfs/aegir) was updated from `20.5.1` to `20.6.0`.

🚨 [View failing branch](https://github.com/ipld/js-ipld-dag-pb/compare/master...ipld:greenkeeper%2Faegir-20.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aegir is a devDependency of this project. It **might not break

[2020-02-05 15:59] vmx commented on #165
It was just a CI hiccup.

[2020-02-05 15:59] #165 closed

[2020-03-16 19:26] greenkeeper[bot] opened #170 "An in-range update of aegir is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [aegir](https://github.com/ipfs/aegir) was updated from `21.3.0` to `21.3.2`.

🚨 [View failing branch](https://github.com/ipld/js-ipld-dag-pb/compare/master...ipld:green

[2020-03-18 11:30] #170 closed

[2020-03-20 10:36] greenkeeper[bot] opened #172 "An in-range update of aegir is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [aegir](https://github.com/ipfs/aegir) was updated from `21.4.0` to `21.4.1`.

🚨 [View failing branch](https://github.com/ipld/js-ipld-dag-pb/compare/master...ipld:green

[2020-03-20 13:26] #172 closed

[2020-03-20 23:56] mikeal opened #173 "Migrate to a pure Data Model API"
This would be a breaking change.

I’d like to use the new [IPLD Schema for `dag-pb`](https://github.com/ipld/specs/pull/247) for this codec.

This would be a major API break, but we probably need to do it because it would:

* make it much easier to use the codec since you’d be able to interact with regular JS objects rather `Node` instances
* align with the other implementations of `dag-pb`
* allo

[2020-03-21 06:01] carsonfarmer commented on #173
Aside from the breaking changes to IPFS, I would say "yes please" to this proposal! Already most consumers of this module need to handle the 'Node' special-case to do the right thing, so it would be really nice to shed some of that cognitive overhead. We're already using the Block API in our internal (Textile) work, so less of a 'breaking' issue and more of a 'fixing' thing for us TBH.

[2020-04-14 11:14] greenkeeper[bot] opened #176 "An in-range update of aegir is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [aegir](https://github.com/ipfs/aegir) was updated from `21.7.0` to `21.8.0`.

🚨 [View failing branch](https://github.com/ipld/js-ipld-dag-pb/compare/master...ipld:green

[2020-04-14 15:37] #176 closed

[2020-06-04 05:35] Gozala opened #183 "Return value of util.serialize(dagNode.toJSON()) should produce equal value to `dagNode.serialize()`"
Current implementation of `.toJSON()` produces structure with fields: `data`, `links` and `size`. Which somewhat resembles `DAGNode` however passing that value into `ipld.put` stores block with CID `QmdfTbBqBPQ7VNxZEYEj14VmRuZBkqFbiwReogJgS1zR1n` corresponding to `{}` because call to `util.serialize` looks at the capital cased fields instead

https://github.com/ipld/js-ipld-dag-pb/blob/1012cad04bd

[2020-06-04 05:46] Gozala commented on #183
For my specific use case it would be even better if `Data` and `Links` getters were just turned into regular properties. That would make it unnecessary to call toJSON at least for my use case.

[2020-06-04 07:19] Gozala commented on #173
@mikeal can you clarify what's backwards incompatible about this change ? Talking to @rvagg I'm under impression that that this can be in fact backwards compatible change.

As I understand it it's merely treating anything shaped as

[code]

If that is indeed the case, most of the utils already work under than assumption. So it would be just matter of making corresponding getters an actual fields.

[2020-06-04 07:41] Gozala commented on #173
As a side note I've just noticed that this implementation does seem to expect `Buffer` and fails on `Uint8Array` (because it's assumes it's a string). I would like to address that as well because once `Buffer`s move across threads they turn into Uint8Array`s and I'd rather make dag-pb capable of handling `Uint8Array`s than doing conversations the thread messaging layer.

[2020-06-04 09:10] rvagg commented on #173
+1, all of our newest code is trying to be `Buffer` free where possible. js-multiformats doesn't use it all.

[2020-06-04 13:12] vmx commented on #183
`toJSON()` is mostly there for test purpose. It shouldn't really be used. I would've long removed it (as in other codec implementations) if it wouldn't break so much.

[2020-06-05 04:42] rvagg commented on #173
^ I'd be fine with both of those things if you want to take it on and maintain backward compatibility. I'm a tiny bit concerned about the performance overhead of handling duck-typed `DAGNode` and `DAGLink` -like objects, but if you're careful that might not be a big deal. You'd probably go most of the way toward a new `@ipld/dag-pb` in doing this.

[2020-06-05 15:50] mikeal commented on #173
You may run into problems trying to switch from `Buffer` to `Uint8Array` without a more substantial migration across `js-ipfs`. Even in `js-multiformats` we have a “legacy” function that wraps the new interfaces to match the old API and we convert all the `Uint8Array`s to `Buffer`s.

It’s a substantial breaking change to move to a new binary representation. IMO, it would be better to just wait unt

[2020-06-05 17:52] achingbrain commented on #173
I'm +1 on switching away from `Buffer` to `Uint8Array`s.

We're coming to the end of an endeavour to replace the global node Buffer polyfill with the [buffer module](https://www.npmjs.com/package/buffer) across our stack as webpack is going to stop including the polyfill in a future release, so we've got a rough handle on how big a task it would be.

Big, is the answer, there are a lot of modules

[2020-06-06 06:28] Gozala commented on #173
I have made changes to this library that

1. replaces getters / setters with non-writable properties so that that DAGNode / DAGLink complies with pure data model API but just happens to have a fancier prototype chain. See https://github.com/ipld/js-ipld-dag-pb/pull/184
2. changes `util.serialize` such that nodes data is casted to `Buffer` if it happens to be `ArrayBuffer` or `ArrayBufferView`. No

[2020-06-11 04:56] aileenscott-uleska opened #185 "Some security findings"
Hi folks,

I hope you don’t mind, we were testing out our security automation tool and ran it against your project.  A few issues came out that you may want to check out - we weren’t sure how to submit a PDF here, so we uploaded it to https://source-security.co.uk/46636f7a-fb13-4f5a-81e1-330787a79805/ if you wanna check it out.

Any issues or feedback, just let us know.

Aileen

[2020-06-11 05:04] rvagg commented on #185
please don't, this is not useful, reporting as spam

[2020-06-11 05:04] #185 closed

[2020-07-22 16:14] Gozala commented on #173
Fixed by #184

[2020-07-22 16:15] #173 closed

[2020-07-24 09:33] achingbrain commented on #154
I don't think this is necessary any more because IPFS now does skips `js-ipld` when serializing `dag-pb` nodes and passes blocks to the block service directly.

Also it was decided to not remove `.tsize` after all.

[2020-07-24 11:37] #154 closed

[2020-09-02 00:26] rvagg commented on #173
I accidentally yak shaved my way to a new dag-pb implementation @ https://github.com/ipld/js-dag-pb, for use with the new `multiformats` & `@ipld/block`. It removes most of the custom object stuff from here and minimises the feature set so you're basically interacting with plain objects.